<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="RootContentServerPath" value="c:\ContentServer\Content\RoadsSection"/>
    <add key="BaseUri" value="http://roads.advancedacademics.com"/>
    <add key="ErrorLogPath" value="errorlog.txt" />
    <add key="ManualFixLogPath" value="manualfix.csv" />
    <add key="ChangedLogPath" value="changed.csv" />
	<add key="DBConn" value="data source=RoadsDevDB;initial catalog=Woodbadge_Dev_1;Integrated Security=SSPI"/>  

    <!-- Add the name of all valid shares on the content server here -->
    <add key="ValidShares" value="/coursecontent, /_media, /contentserver" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
